In [16]:
import pandas as pd

# CSV 파일 경로
file_path_revenue = 'C:/Users/dlwlg/Desktop/최종프로젝트/서울시 상권데이터/서울시 상권데이터/서울시_상권분석_서비스(추정매출-상권).csv'
file_path_population = 'C:/Users/dlwlg/Desktop/최종프로젝트/서울시 상권데이터/서울시 상권데이터/서울시_상권분석_서비스(길단위인구-상권).csv'
file_path_facility = 'C:/Users/dlwlg/Desktop/최종프로젝트/서울시 상권데이터/서울시 상권데이터/서울시_상권분석_서비스(집객시설-상권).csv'
file_path_store = 'C:/Users/dlwlg/Desktop/최종프로젝트/서울시 상권데이터/서울시 상권데이터/서울시_상권분석_서비스(점포-상권).csv'

# CSV 파일 읽기
revenue = pd.read_csv(file_path_revenue)
population = pd.read_csv(file_path_population)
facility = pd.read_csv(file_path_facility)
store = pd.read_csv(file_path_store)

In [19]:
# store 데이터프레임의 컬럼명 변경
store.rename(columns={
    'STDR_YYQU_CD': '기준_년분기_코드',
    'TRDAR_SE_CD': '상권_구분_코드',
    'TRDAR_SE_CD_NM': '상권_구분_코드_명',
    'TRDAR_CD': '상권_코드',
    'TRDAR_CD_NM': '상권_코드_명',
    'SVC_INDUTY_CD': '서비스_업종_코드',
    'SVC_INDUTY_CD_NM': '서비스_업종_코드_명',
    'STOR_CO': '점포_수',
    'SIMILR_INDUTY_STOR_CO': '유사_업종_점포_수',
    'OPBIZ_RT': '개업_율',
    'OPBIZ_STOR_CO': '개업_점포_수',
    'CLSBIZ_RT': '폐업_률',
    'CLSBIZ_STOR_CO': '폐업_점포_수',
    'FRC_STOR_CO': '프랜차이즈_점포_수'
}, inplace=True)

# 변경된 컬럼명 확인
print(store.columns)

store.to_csv('C:/Users/dlwlg/Desktop/최종프로젝트/서울시 상권데이터/서울시 상권데이터/서울시_상권분석_서비스(점포-상권).csv', index=False, encoding='utf-8-sig')

Index(['기준_년분기_코드', '상권_구분_코드', '상권_구분_코드_명', '상권_코드', '상권_코드_명', '서비스_업종_코드',
       '서비스_업종_코드_명', '점포_수', '유사_업종_점포_수', '개업_율', '개업_점포_수', '폐업_률',
       '폐업_점포_수', '프랜차이즈_점포_수'],
      dtype='object')

In [20]:
print(revenue.shape)
print(population.shape)
print(facility.shape)
print(store.shape)

(449094, 55)
(36292, 27)
(23670, 25)
(1664565, 14)

In [22]:
# 추정매출 데이터 분기 제거(2022)

# 기준_년분기_코드가 20221 이상인 데이터만 필터링
revenue = revenue[revenue['기준_년분기_코드'] >= 20221]

# 결과 확인
print(revenue.head())


# 데이터프레임을 CSV로 저장
revenue.to_csv('C:/Users/dlwlg/Desktop/최종프로젝트/서울시 상권데이터/서울시 상권데이터/서울시_상권분석_서비스(추정매출-상권)_20221분기이후.csv', index=False, encoding='utf-8-sig')

        기준_년분기_코드 상권_구분_코드 상권_구분_코드_명    상권_코드    상권_코드_명 서비스_업종_코드  \
178313      20222        R       전통시장  3130240    영등포유통상가  CS300026
178375      20222        A       골목상권  3110437    당고개역 2번  CS300033
178418      20222        A       골목상권  3110803  신길2동우편취급국  CS300019
178988      20222        A       골목상권  3110376     수송초등학교  CS300031
179170      20222        R       전통시장  3130149     창동신창시장  CS300019

       서비스_업종_코드_명      당월_매출_금액  당월_매출_건수      주중_매출_금액  ...  \
178313          완구  2.669903e+07       243  0.000000e+00  ...
178375         철물점  2.739245e+06        46  2.739245e+06  ...
178418        의료기기  2.192000e+09       284  2.192000e+09  ...
178988          가구  4.087973e+07        21  4.087973e+07  ...
179170        의료기기  4.893243e+07        98  0.000000e+00  ...

        시간대_건수~21_매출_건수  시간대_건수~24_매출_건수  남성_매출_건수  여성_매출_건수  연령대_10_매출_건수  \
178313                0                0       243         0             0
178375                0                0        46         0             0
178418                0                0       284         0             0
178988                0                0        21         0             0
179170                0                0         0        98             0

        연령대_20_매출_건수  연령대_30_매출_건수  연령대_40_매출_건수  연령대_50_매출_건수  \
178313           243             0             0             0
178375             0             0             0             0
178418             0           284             0             0
178988             0             0             0            21
179170             0             0             0             0

        연령대_60_이상_매출_건수
178313                0
178375               46
178418                0
178988                0
179170               98

[5 rows x 55 columns]

In [23]:
revenue.shape

(208875, 55)

In [ ]:
#추정매출+점포 데이터 합치기

In [30]:

# 병합 기준 확인
print("revenue columns:", revenue.columns)
print("store columns:", store.columns)

# 필요한 컬럼만 선택
store_subset = store[['기준_년분기_코드', '상권_구분_코드', '상권_코드', '서비스_업종_코드', '유사_업종_점포_수']]

# 데이터 병합 (기준 컬럼: 기준_년분기_코드, 상권_구분_코드, 상권_코드, 서비스_업종_코드)
average_revenue = revenue.merge(
    store_subset,
    on=['기준_년분기_코드', '상권_구분_코드', '상권_코드', '서비스_업종_코드'],
    how='left'
)

# 병합 결과 확인
print(average_revenue.head())
print(average_revenue.info())

# 병합된 데이터 저장 (선택사항)
output_file = 'C:/Users/dlwlg/Desktop/최종프로젝트/서울시 상권데이터/서울시 상권데이터/서울시_상권분석_서비스(추정평균매출).csv'
average_revenue.to_csv(output_file, index=False, encoding='utf-8-sig')

revenue columns: Index(['기준_년분기_코드', '상권_구분_코드', '상권_구분_코드_명', '상권_코드', '상권_코드_명', '서비스_업종_코드',
       '서비스_업종_코드_명', '당월_매출_금액', '당월_매출_건수', '주중_매출_금액', '주말_매출_금액',
       '월요일_매출_금액', '화요일_매출_금액', '수요일_매출_금액', '목요일_매출_금액', '금요일_매출_금액',
       '토요일_매출_금액', '일요일_매출_금액', '시간대_00~06_매출_금액', '시간대_06~11_매출_금액',
       '시간대_11~14_매출_금액', '시간대_14~17_매출_금액', '시간대_17~21_매출_금액',
       '시간대_21~24_매출_금액', '남성_매출_금액', '여성_매출_금액', '연령대_10_매출_금액',
       '연령대_20_매출_금액', '연령대_30_매출_금액', '연령대_40_매출_금액', '연령대_50_매출_금액',
       '연령대_60_이상_매출_금액', '주중_매출_건수', '주말_매출_건수', '월요일_매출_건수', '화요일_매출_건수',
       '수요일_매출_건수', '목요일_매출_건수', '금요일_매출_건수', '토요일_매출_건수', '일요일_매출_건수',
       '시간대_건수~06_매출_건수', '시간대_건수~11_매출_건수', '시간대_건수~14_매출_건수',
       '시간대_건수~17_매출_건수', '시간대_건수~21_매출_건수', '시간대_건수~24_매출_건수', '남성_매출_건수',
       '여성_매출_건수', '연령대_10_매출_건수', '연령대_20_매출_건수', '연령대_30_매출_건수',
       '연령대_40_매출_건수', '연령대_50_매출_건수', '연령대_60_이상_매출_건수'],
      dtype='object')
store columns: Index(['기준_년분기_코드', '상권_구분_코드', '상권_구분_코드_명', '상권_코드', '상권_코드_명', '서비스_업종_코드',
       '서비스_업종_코드_명', '점포_수', '유사_업종_점포_수', '개업_율', '개업_점포_수', '폐업_률',
       '폐업_점포_수', '프랜차이즈_점포_수'],
      dtype='object')
   기준_년분기_코드 상권_구분_코드 상권_구분_코드_명    상권_코드    상권_코드_명 서비스_업종_코드 서비스_업종_코드_명  \
0      20222        R       전통시장  3130240    영등포유통상가  CS300026          완구
1      20222        A       골목상권  3110437    당고개역 2번  CS300033         철물점
2      20222        A       골목상권  3110803  신길2동우편취급국  CS300019        의료기기
3      20222        A       골목상권  3110376     수송초등학교  CS300031          가구
4      20222        R       전통시장  3130149     창동신창시장  CS300019        의료기기

       당월_매출_금액  당월_매출_건수      주중_매출_금액  ...  시간대_건수~24_매출_건수  남성_매출_건수  \
0  2.669903e+07       243  0.000000e+00  ...                0       243
1  2.739245e+06        46  2.739245e+06  ...                0        46
2  2.192000e+09       284  2.192000e+09  ...                0       284
3  4.087973e+07        21  4.087973e+07  ...                0        21
4  4.893243e+07        98  0.000000e+00  ...                0         0

   여성_매출_건수  연령대_10_매출_건수  연령대_20_매출_건수  연령대_30_매출_건수  연령대_40_매출_건수  \
0         0             0           243             0             0
1         0             0             0             0             0
2         0             0             0           284             0
3         0             0             0             0             0
4        98             0             0             0             0

   연령대_50_매출_건수  연령대_60_이상_매출_건수  유사_업종_점포_수
0             0                0          14
1             0               46           3
2             0                0           8
3            21                0           3
4             0               98           3

[5 rows x 56 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 208875 entries, 0 to 208874
Data columns (total 56 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   기준_년분기_코드        208875 non-null  int64
 1   상권_구분_코드         208875 non-null  object
 2   상권_구분_코드_명       208875 non-null  object
 3   상권_코드            208875 non-null  int64
 4   상권_코드_명          208875 non-null  object
 5   서비스_업종_코드        208875 non-null  object
 6   서비스_업종_코드_명      208875 non-null  object
 7   당월_매출_금액         208875 non-null  float64
 8   당월_매출_건수         208875 non-null  int64
 9   주중_매출_금액         208875 non-null  float64
 10  주말_매출_금액         208875 non-null  float64
 11  월요일_매출_금액        208875 non-null  float64
 12  화요일_매출_금액        208875 non-null  float64
 13  수요일_매출_금액        208875 non-null  float64
 14  목요일_매출_금액        208875 non-null  float64
 15  금요일_매출_금액        208875 non-null  float64
 16  토요일_매출_금액        208875 non-null  float64
 17  일요일_매출_금액        208875 non-null  float64
 18  시간대_00~06_매출_금액  208875 non-null  float64
 19  시간대_06~11_매출_금액  208875 non-null  float64
 20  시간대_11~14_매출_금액  208875 non-null  float64
 21  시간대_14~17_매출_금액  208875 non-null  float64
 22  시간대_17~21_매출_금액  208875 non-null  float64
 23  시간대_21~24_매출_금액  208875 non-null  int64
 24  남성_매출_금액         208875 non-null  float64
 25  여성_매출_금액         208875 non-null  float64
 26  연령대_10_매출_금액     208875 non-null  int64
 27  연령대_20_매출_금액     208875 non-null  float64
 28  연령대_30_매출_금액     208875 non-null  float64
 29  연령대_40_매출_금액     208875 non-null  float64
 30  연령대_50_매출_금액     208875 non-null  float64
 31  연령대_60_이상_매출_금액  208875 non-null  float64
 32  주중_매출_건수         208875 non-null  int64
 33  주말_매출_건수         208875 non-null  int64
 34  월요일_매출_건수        208875 non-null  int64
 35  화요일_매출_건수        208875 non-null  int64
 36  수요일_매출_건수        208875 non-null  int64
 37  목요일_매출_건수        208875 non-null  int64
 38  금요일_매출_건수        208875 non-null  int64
 39  토요일_매출_건수        208875 non-null  int64
 40  일요일_매출_건수        208875 non-null  int64
 41  시간대_건수~06_매출_건수  208875 non-null  int64
 42  시간대_건수~11_매출_건수  208875 non-null  int64
 43  시간대_건수~14_매출_건수  208875 non-null  int64
 44  시간대_건수~17_매출_건수  208875 non-null  int64
 45  시간대_건수~21_매출_건수  208875 non-null  int64
 46  시간대_건수~24_매출_건수  208875 non-null  int64
 47  남성_매출_건수         208875 non-null  int64
 48  여성_매출_건수         208875 non-null  int64
 49  연령대_10_매출_건수     208875 non-null  int64
 50  연령대_20_매출_건수     208875 non-null  int64
 51  연령대_30_매출_건수     208875 non-null  int64
 52  연령대_40_매출_건수     208875 non-null  int64
 53  연령대_50_매출_건수     208875 non-null  int64
 54  연령대_60_이상_매출_건수  208875 non-null  int64
 55  유사_업종_점포_수       208875 non-null  int64
dtypes: float64(22), int64(29), object(5)
memory usage: 89.2+ MB
None

In [ ]:
# 결측치 처리
# 조건별 계산

In [ ]:
# 피쳐 엔지니어링
# 금액&건수 데이터/점포 수 > 평균_금액&평균_건수 데이터

In [33]:
# 매출 및 건수 컬럼 리스트
columns_to_modify = [
    '당월_매출_금액', '당월_매출_건수', '주중_매출_금액', '주말_매출_금액',
    '월요일_매출_금액', '화요일_매출_금액', '수요일_매출_금액', '목요일_매출_금액', '금요일_매출_금액',
    '토요일_매출_금액', '일요일_매출_금액', '시간대_00~06_매출_금액', '시간대_06~11_매출_금액',
    '시간대_11~14_매출_금액', '시간대_14~17_매출_금액', '시간대_17~21_매출_금액',
    '시간대_21~24_매출_금액', '남성_매출_금액', '여성_매출_금액', '연령대_10_매출_금액',
    '연령대_20_매출_금액', '연령대_30_매출_금액', '연령대_40_매출_금액', '연령대_50_매출_금액',
    '연령대_60_이상_매출_금액', '주중_매출_건수', '주말_매출_건수', '월요일_매출_건수', '화요일_매출_건수',
    '수요일_매출_건수', '목요일_매출_건수', '금요일_매출_건수', '토요일_매출_건수', '일요일_매출_건수',
    '시간대_건수~06_매출_건수', '시간대_건수~11_매출_건수', '시간대_건수~14_매출_건수',
    '시간대_건수~17_매출_건수', '시간대_건수~21_매출_건수', '시간대_건수~24_매출_건수', '남성_매출_건수',
    '여성_매출_건수', '연령대_10_매출_건수', '연령대_20_매출_건수', '연령대_30_매출_건수',
    '연령대_40_매출_건수', '연령대_50_매출_건수', '연령대_60_이상_매출_건수'
]

# 새로운 평균 컬럼 생성
for col in columns_to_modify:
    if col in average_revenue.columns:  # 컬럼이 존재할 경우만 수행
        average_revenue[f'평균_{col}'] = average_revenue[col] / average_revenue['유사_업종_점포_수']

# 기존 컬럼 제거 (선택 사항)
average_revenue = average_revenue.drop(columns=columns_to_modify)

# 결과 확인
print(average_revenue.head())

# 새로운 데이터 저장
output_file = 'C:/Users/dlwlg/Desktop/최종프로젝트/서울시 상권데이터/서울시 상권데이터/서울시_상권분석_서비스(추정평균매출).csv'
average_revenue.to_csv(output_file, index=False, encoding='utf-8-sig')

   기준_년분기_코드 상권_구분_코드 상권_구분_코드_명    상권_코드    상권_코드_명 서비스_업종_코드 서비스_업종_코드_명  \
0      20222        R       전통시장  3130240    영등포유통상가  CS300026          완구
1      20222        A       골목상권  3110437    당고개역 2번  CS300033         철물점
2      20222        A       골목상권  3110803  신길2동우편취급국  CS300019        의료기기
3      20222        A       골목상권  3110376     수송초등학교  CS300031          가구
4      20222        R       전통시장  3130149     창동신창시장  CS300019        의료기기

   유사_업종_점포_수   평균_당월_매출_금액  평균_당월_매출_건수  ...  평균_시간대_건수~21_매출_건수  \
0          14  1.907074e+06    17.357143  ...                 0.0
1           3  9.130817e+05    15.333333  ...                 0.0
2           8  2.740000e+08    35.500000  ...                 0.0
3           3  1.362658e+07     7.000000  ...                 0.0
4           3  1.631081e+07    32.666667  ...                 0.0

   평균_시간대_건수~24_매출_건수  평균_남성_매출_건수  평균_여성_매출_건수  평균_연령대_10_매출_건수  \
0                 0.0    17.357143     0.000000              0.0
1                 0.0    15.333333     0.000000              0.0
2                 0.0    35.500000     0.000000              0.0
3                 0.0     7.000000     0.000000              0.0
4                 0.0     0.000000    32.666667              0.0

   평균_연령대_20_매출_건수  평균_연령대_30_매출_건수  평균_연령대_40_매출_건수  평균_연령대_50_매출_건수  \
0        17.357143              0.0              0.0              0.0
1         0.000000              0.0              0.0              0.0
2         0.000000             35.5              0.0              0.0
3         0.000000              0.0              0.0              7.0
4         0.000000              0.0              0.0              0.0

   평균_연령대_60_이상_매출_건수
0            0.000000
1           15.333333
2            0.000000
3            0.000000
4           32.666667

[5 rows x 56 columns]

In [34]:
print(average_revenue.columns)

Index(['기준_년분기_코드', '상권_구분_코드', '상권_구분_코드_명', '상권_코드', '상권_코드_명', '서비스_업종_코드',
       '서비스_업종_코드_명', '유사_업종_점포_수', '평균_당월_매출_금액', '평균_당월_매출_건수',
       '평균_주중_매출_금액', '평균_주말_매출_금액', '평균_월요일_매출_금액', '평균_화요일_매출_금액',
       '평균_수요일_매출_금액', '평균_목요일_매출_금액', '평균_금요일_매출_금액', '평균_토요일_매출_금액',
       '평균_일요일_매출_금액', '평균_시간대_00~06_매출_금액', '평균_시간대_06~11_매출_금액',
       '평균_시간대_11~14_매출_금액', '평균_시간대_14~17_매출_금액', '평균_시간대_17~21_매출_금액',
       '평균_시간대_21~24_매출_금액', '평균_남성_매출_금액', '평균_여성_매출_금액', '평균_연령대_10_매출_금액',
       '평균_연령대_20_매출_금액', '평균_연령대_30_매출_금액', '평균_연령대_40_매출_금액',
       '평균_연령대_50_매출_금액', '평균_연령대_60_이상_매출_금액', '평균_주중_매출_건수', '평균_주말_매출_건수',
       '평균_월요일_매출_건수', '평균_화요일_매출_건수', '평균_수요일_매출_건수', '평균_목요일_매출_건수',
       '평균_금요일_매출_건수', '평균_토요일_매출_건수', '평균_일요일_매출_건수', '평균_시간대_건수~06_매출_건수',
       '평균_시간대_건수~11_매출_건수', '평균_시간대_건수~14_매출_건수', '평균_시간대_건수~17_매출_건수',
       '평균_시간대_건수~21_매출_건수', '평균_시간대_건수~24_매출_건수', '평균_남성_매출_건수',
       '평균_여성_매출_건수', '평균_연령대_10_매출_건수', '평균_연령대_20_매출_건수', '평균_연령대_30_매출_건수',
       '평균_연령대_40_매출_건수', '평균_연령대_50_매출_건수', '평균_연령대_60_이상_매출_건수'],
      dtype='object')

In [35]:
average_revenue.shape

(208875, 56)

In [ ]:
# 이상치 처리
# 당월_매출_평균_금액/점포 수 < 1 추출

In [37]:
# 평균_당월_매출_금액이 4,170,000 이하인 행 제거
average_revenue = average_revenue[average_revenue['평균_당월_매출_금액'] > 4170000]

# 결과 확인
print(average_revenue.head())
print(f"남은 행의 수: {len(average_revenue)}")

# 수정된 데이터 저장
output_file = 'C:/Users/dlwlg/Desktop/최종프로젝트/서울시 상권데이터/서울시 상권데이터/서울시_상권분석_서비스(추정평균매출).csv'
average_revenue.to_csv(output_file, index=False, encoding='utf-8-sig')

   기준_년분기_코드 상권_구분_코드 상권_구분_코드_명    상권_코드    상권_코드_명 서비스_업종_코드 서비스_업종_코드_명  \
2      20222        A       골목상권  3110803  신길2동우편취급국  CS300019        의료기기
3      20222        A       골목상권  3110376     수송초등학교  CS300031          가구
4      20222        R       전통시장  3130149     창동신창시장  CS300019        의료기기
7      20222        R       전통시장  3130056     용산용문시장  CS300031          가구
9      20222        D       발달상권  3120122       강서구청  CS300036        조명용품

   유사_업종_점포_수   평균_당월_매출_금액  평균_당월_매출_건수  ...  평균_시간대_건수~21_매출_건수  \
2           8  2.740000e+08    35.500000  ...            0.000000
3           3  1.362658e+07     7.000000  ...            0.000000
4           3  1.631081e+07    32.666667  ...            0.000000
7           3  2.233333e+07     4.000000  ...            0.000000
9           6  1.032426e+07    87.166667  ...           58.166667

   평균_시간대_건수~24_매출_건수  평균_남성_매출_건수  평균_여성_매출_건수  평균_연령대_10_매출_건수  \
2                 0.0         35.5     0.000000              0.0
3                 0.0          7.0     0.000000              0.0
4                 0.0          0.0    32.666667              0.0
7                 4.0          4.0     0.000000              0.0
9                 0.0         29.0    58.166667              0.0

   평균_연령대_20_매출_건수  평균_연령대_30_매출_건수  평균_연령대_40_매출_건수  평균_연령대_50_매출_건수  \
2              0.0             35.5              0.0         0.000000
3              0.0              0.0              0.0         7.000000
4              0.0              0.0              0.0         0.000000
7              0.0              4.0              0.0         0.000000
9              0.0              0.0              0.0        87.166667

   평균_연령대_60_이상_매출_건수
2            0.000000
3            0.000000
4           32.666667
7            0.000000
9            0.000000

[5 rows x 56 columns]
남은 행의 수: 176169

In [38]:
average_revenue.shape

(176169, 56)

In [ ]:
# 해당 분기 행 제거거

In [39]:
# 상권_코드_명과 서비스_업종_코드_명으로 그룹화 후 데이터 개수 계산
group_counts = average_revenue.groupby(['상권_코드_명', '서비스_업종_코드_명']).size().reset_index(name='데이터_개수')

# 데이터 개수가 10개 이상인 그룹 필터링
valid_groups = group_counts[group_counts['데이터_개수'] >= 10]

# 유효한 그룹으로 데이터 필터링
filtered_average_revenue = average_revenue.merge(
    valid_groups[['상권_코드_명', '서비스_업종_코드_명']],
    on=['상권_코드_명', '서비스_업종_코드_명'],
    how='inner'
)

# 결과 확인
print(filtered_average_revenue.head())
print(f"필터링 후 데이터 개수: {len(filtered_average_revenue)}")

# 필터링된 데이터 저장 (선택 사항)
output_file = 'C:/Users/dlwlg/Desktop/최종프로젝트/서울시 상권데이터/서울시 상권데이터/서울시_상권분석_서비스(추정평균매출).csv'
filtered_average_revenue.to_csv(output_file, index=False, encoding='utf-8-sig')

   기준_년분기_코드 상권_구분_코드 상권_구분_코드_명    상권_코드  상권_코드_명 서비스_업종_코드 서비스_업종_코드_명  \
0      20222        A       골목상권  3110565      홍익대  CS100004       양식음식점
1      20222        D       발달상권  3120186     가로수길  CS100004       양식음식점
2      20222        D       발달상권  3120239      오금역  CS100004       양식음식점
3      20222        D       발달상권  3120171  서초3동사거리  CS100004       양식음식점
4      20222        D       발달상권  3120021   시청역_8번  CS100005         제과점

   유사_업종_점포_수   평균_당월_매출_금액  평균_당월_매출_건수  ...  평균_시간대_건수~21_매출_건수  \
0           3  1.675162e+07   813.333333  ...            0.000000
1          92  8.998292e+07  2117.804348  ...          738.336957
2          11  3.218669e+07  1110.636364  ...          396.818182
3          16  7.993042e+07  1733.125000  ...          595.187500
4           4  2.574322e+07  2763.750000  ...           54.500000

   평균_시간대_건수~24_매출_건수  평균_남성_매출_건수  평균_여성_매출_건수  평균_연령대_10_매출_건수  \
0            0.000000   179.333333   634.000000        25.666667
1          257.836957   684.869565  1187.108696        56.413043
2           56.454545   545.909091   470.727273        17.363636
3           55.125000   685.125000   866.062500        27.750000
4            0.000000  1316.750000  1094.250000         5.000000

   평균_연령대_20_매출_건수  평균_연령대_30_매출_건수  평균_연령대_40_매출_건수  평균_연령대_50_매출_건수  \
0       506.666667       144.000000        55.000000        72.333333
1       795.728261       536.826087       235.228261       189.032609
2       182.727273       295.181818       258.545455       165.636364
3       333.625000       444.437500       353.375000       244.062500
4       370.250000       903.750000       733.750000       364.250000

   평균_연령대_60_이상_매출_건수
0            9.666667
1           58.760870
2           97.545455
3          147.750000
4           34.000000

[5 rows x 56 columns]
필터링 후 데이터 개수: 140770

In [40]:
filtered_average_revenue.shape

(140770, 56)

In [ ]:
# 추정매출,길단위인구,집객시설,점포 데이터 필터링
# 공통 컬럼 기준

In [45]:
# 공통 컬럼 정의
common_columns1 = ['기준_년분기_코드', '상권_구분_코드', '상권_구분_코드_명', '상권_코드', '상권_코드_명']
common_columns2 = common_columns1 + ['서비스_업종_코드', '서비스_업종_코드_명']

# filtered_average_revenue에서 공통 컬럼 값 추출
filter_common1 = filtered_average_revenue[common_columns1].drop_duplicates()
filter_common2 = filtered_average_revenue[common_columns2].drop_duplicates()

# revenue, population, facility 데이터 필터링 (공통 컬럼 1 기준)
filtered_revenue = revenue.merge(filter_common1, on=common_columns1, how='inner')
filtered_population = population.merge(filter_common1, on=common_columns1, how='inner')
filtered_facility = facility.merge(filter_common1, on=common_columns1, how='inner')

# store 데이터 필터링 (공통 컬럼 2 기준)
filtered_store = store.merge(filter_common2, on=common_columns2, how='inner')

# 필터링된 데이터 확인
print(f"필터링된 revenue 데이터 크기: {filtered_revenue.shape}")
print(f"필터링된 population 데이터 크기: {filtered_population.shape}")
print(f"필터링된 facility 데이터 크기: {filtered_facility.shape}")
print(f"필터링된 store 데이터 크기: {filtered_store.shape}")

필터링된 revenue 데이터 크기: (207711, 55)
필터링된 population 데이터 크기: (14884, 27)
필터링된 facility 데이터 크기: (14410, 25)
필터링된 store 데이터 크기: (140770, 14)

In [46]:
# filtered_facility의 NaN 값을 0으로 처리
filtered_facility = filtered_facility.fillna(0)

In [48]:
# # 필터링된 데이터 저장
average_revenue.to_csv('평균매출.csv', index=False, encoding='utf-8-sig')
filtered_revenue.to_csv('추정매출.csv', index=False, encoding='utf-8-sig')
filtered_population.to_csv('유동인구.csv', index=False, encoding='utf-8-sig')
filtered_facility.to_csv('집객시설.csv', index=False, encoding='utf-8-sig')
filtered_store.to_csv('점포.csv', index=False, encoding='utf-8-sig')

In [58]:
import pandas as pd

# 금액 데이터와 건수 데이터 분리
amount_columns = [col for col in filtered_average_revenue.columns if '금액' in col]  # 금액 관련 컬럼
count_columns = [col for col in filtered_average_revenue.columns if '건수' in col]   # 건수 관련 컬럼

# 공통 컬럼 (금액/건수 모두 포함된 공통 정보)
common_columns = [col for col in filtered_average_revenue.columns if col not in amount_columns + count_columns]

# 금액 데이터프레임
average_amount = filtered_average_revenue[common_columns + amount_columns]

# 건수 데이터프레임
average_count = filtered_average_revenue[common_columns + count_columns]

# 결과 저장
average_amount.to_csv('평균매출금액.csv', index=False, encoding='utf-8-sig')
average_count.to_csv('평균매출건수.csv', index=False, encoding='utf-8-sig')

In [57]:
print(average_amount.shape)
print(average_count.shape)

(140770, 32)
(140770, 32)

In [ ]:
# 조인

In [49]:
# 공통 컬럼 정의
common_columns1 = ['기준_년분기_코드', '상권_구분_코드', '상권_구분_코드_명', '상권_코드', '상권_코드_명']
common_columns2 = common_columns1 + ['서비스_업종_코드', '서비스_업종_코드_명']

# 공통 컬럼 1 기준으로 데이터 병합
merged_data = filtered_revenue.merge(filtered_population, on=common_columns1, how='inner')
merged_data = merged_data.merge(filtered_facility, on=common_columns1, how='inner')

# 공통 컬럼 2 기준으로 store 데이터 병합
merged_data = merged_data.merge(filtered_store, on=common_columns2, how='inner')

# 결과 확인
print(merged_data.head())
print(f"최종 병합된 데이터 크기: {merged_data.shape}")

# # 최종 병합 데이터 저장
# output_file = '최종_병합_데이터.csv'
# merged_data.to_csv(output_file, index=False, encoding='utf-8-sig')
# print(f"최종 병합 데이터가 저장되었습니다: {output_file}")

   기준_년분기_코드 상권_구분_코드 상권_구분_코드_명    상권_코드  상권_코드_명 서비스_업종_코드 서비스_업종_코드_명  \
0      20222        A       골목상권  3110565      홍익대  CS100004       양식음식점
1      20222        D       발달상권  3120186     가로수길  CS100004       양식음식점
2      20222        D       발달상권  3120239      오금역  CS100004       양식음식점
3      20222        D       발달상권  3120171  서초3동사거리  CS100004       양식음식점
4      20222        D       발달상권  3120021   시청역_8번  CS100005         제과점

       당월_매출_금액  당월_매출_건수      주중_매출_금액  ...  버스_터미널_수  지하철_역_수  버스_정거장_수  \
0  5.025487e+07      2440  2.760332e+07  ...       0.0      0.0       3.0
1  8.278429e+09    194838  5.058864e+09  ...       0.0      0.0       3.0
2  3.540536e+08     12217  2.215342e+08  ...       0.0      2.0       5.0
3  1.278887e+09     27730  8.294037e+08  ...       0.0      0.0      12.0
4  1.029729e+08     11055  1.029729e+08  ...       0.0      0.0       6.0

   점포_수  유사_업종_점포_수  개업_율  개업_점포_수  폐업_률  폐업_점포_수  프랜차이즈_점포_수
0     3           3     0        0     0        0           0
1    88          92     4        4     2        2           4
2    10          11     0        0     0        0           1
3    14          16     6        1     0        0           2
4     4           4     0        0     0        0           0

[5 rows x 104 columns]
최종 병합된 데이터 크기: (139640, 104)